Django>3.0.1,<4.0
django_unical_bootstrap_italia
django-nested-admin>=3.3.2

# https://github.com/pylixm/django-mdeditor
# django-mdeditor>=0.1.18
# django-tinymce>=3.1.0
# django-filebrowser>=3.13.1

django-taggit
pillow

# mongo
pymongo>=3.11.0

# Rest
#djangorestframework
git+https://github.com/peppelinux/django-rest-framework@agid_oas3
# openAPI schema v3
uritemplate
pyyaml

# search engine
pymongo>=3.11.0
