git+https://github.com/UniversitaDellaCalabria/uniCMS.git
git+https://github.com/UniversitaDellaCalabria/unicms-template-italia.git
git+https://github.com/UniversitaDellaCalabria/unicms-template-unical.git

design-django-theme

django-nested-admin>=3.3.2

# https://github.com/pylixm/django-mdeditor
# django-mdeditor>=0.1.18
# django-tinymce>=3.1.0
# django-filebrowser>=3.13.1

django-taggit

# content type
pillow>=7.2.0
python-magic>=0.4.18

# search engine
# mongo
pymongo>=3.11.0

# Rest
#djangorestframework
git+https://github.com/peppelinux/django-rest-framework@agid_oas3
# openAPI schema v3
uritemplate
pyyaml


pydantic
django-htmlmin>=0.11.0
django-redis>=4.12.1
