{% load static %}

<!-- load custom template tags -->
{% load unicms_pages %}


{% load_blocks section="1-right-a" as 1_right_a %}
{% load_blocks section="1-right-b" as 1_right_b %}

<div class="row">
    {% if 1_right_a and 1_right_b %}
    <div class="col-12 col-md-6">
        {{ 1_right_a }}
    </div>
    <div class="col-12 col-md-6">
        {{ 1_right_b }}
    </div>
    {% elif 1_right_a %}
    <div class="col-12">
        {{ 1_right_a }}
    </div>
    {% else %}
    <div class="col-12">
        {{ 1_right_b }}
    </div>
    {% endif %}
</div>
