body {
    background: #fbf6f4;
}

.it-header-slim-wrapper {
    background: #fff;
    border-bottom: 1px solid #b71918;
}
.it-header-slim-wrapper .it-header-slim-wrapper-content .navbar-brand {
    color: #b71918;
}

.it-carousel-wrapper .owl-stage-outer {
    padding-top: 0;
}

.it-header-navbar-wrapper {
    background: none;
}

.it-header-navbar-wrapper .container {
    background: #fff;
    margin-top: 3rem;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
    color: #383838;
    font-size: 1.2rem;
    text-decoration: underline;
}

