{% load static %}

<!-- load custom template tags -->
{% load unicms_pages %}


{% load_blocks section="3-center-top-a" as 3_center_top_a %}
{% load_blocks section="3-center-top-b" as 3_center_top_b %}
{% load_blocks section="3-center-top-c" as 3_center_top_c %}
{% load_blocks section="3-center-content" as 3_center_content %}
{% load_blocks section="3-center-bottom-a" as 3_center_bottom_a %}
{% load_blocks section="3-center-bottom-b" as 3_center_bottom_b %}
{% load_blocks section="3-center-bottom-c" as 3_center_bottom_c %}

{% if 3_center_top_a or 3_center_top_b or 3_center_top_c %}
<div class="row">
    {% if 3_center_top_a and 3_center_top_b and 3_center_top_c %}
        <div class="col-12 col-md-4">{{ 3_center_top_a }}</div>
        <div class="col-12 col-md-4">{{ 3_center_top_b }}</div>
        <div class="col-12 col-md-4">{{ 3_center_top_c }}</div>
    {% elif 3_center_top_a and 3_center_top_b %}
        <div class="col-12 col-md-6">{{ 3_center_top_a }}</div>
        <div class="col-12 col-md-6">{{ 3_center_top_b }}</div>
    {% elif 3_center_top_a and 3_center_top_c %}
        <div class="col-12 col-md-6">{{ 3_center_top_a }}</div>
        <div class="col-12 col-md-6">{{ 3_center_top_c }}</div>
    {% elif 3_center_top_b and 3_center_top_c %}
        <div class="col-12 col-md-6">{{ 3_center_top_b }}</div>
        <div class="col-12 col-md-6">{{ 3_center_top_c }}</div>
    {% else %}
        <div class="col-12">{{ 3_center_top_a }}{{ 3_center_top_b }}{{ 3_center_top_c }}</div>
    {% endif %}
</div>
{% endif %}

{% if 3_center_content %}
<div class="row">
    <div class="col">
        {{ 3_center_content }}
    </div>
</div>
{% endif %}

{% if 3_center_bottom_a or 3_center_bottom_b or 3_center_bottom_c %}
<div class="row">
    {% if 3_center_bottom_a and 3_center_bottom_b and 3_center_bottom_c %}
        <div class="col-12 col-md-4">{{ 3_center_bottom_a }}</div>
        <div class="col-12 col-md-4">{{ 3_center_bottom_b }}</div>
        <div class="col-12 col-md-4">{{ 3_center_bottom_c }}</div>
    {% elif 3_center_bottom_a and 3_center_bottom_b %}
        <div class="col-12 col-md-6">{{ 3_center_bottom_a }}</div>
        <div class="col-12 col-md-6">{{ 3_center_bottom_b }}</div>
    {% elif 3_center_bottom_a and 3_center_bottom_c %}
        <div class="col-12 col-md-6">{{ 3_center_bottom_a }}</div>
        <div class="col-12 col-md-6">{{ 3_center_bottom_c }}</div>
    {% elif 3_center_bottom_b and 3_center_bottom_c %}
        <div class="col-12 col-md-6">{{ 3_center_bottom_b }}</div>
        <div class="col-12 col-md-6">{{ 3_center_bottom_c }}</div>
    {% else %}
        <div class="col-12">{{ 3_center_bottom_a }}{{ 3_center_bottom_b }}{{ 3_center_bottom_c }}</div>
    {% endif %}
</div>
{% endif %}
