{% load static %}

<!-- load custom template tags -->
{% load unicms_pages %}


<div class="row">

    {% load_blocks section="3-top-a" as 3_top_a %}
    {% load_blocks section="3-top-b" as 3_top_b %}
    {% load_blocks section="3-top-c" as 3_top_c %}

    {% load_blocks section="3-mid-top-a" as 3_mid_top_a %}
    {% load_blocks section="3-mid-top-b" as 3_mid_top_b %}
    {% load_blocks section="3-mid-top-c" as 3_mid_top_c %}

    {% load_blocks section="3-left-a" as 3_left_a %}
    {% load_blocks section="3-left-b" as 3_left_b %}

    {% load_blocks section="3-center-top-a" as 3_center_top_a %}
    {% load_blocks section="3-center-top-b" as 3_center_top_b %}
    {% load_blocks section="3-center-top-c" as 3_center_top_c %}

    {% load_blocks section="3-center-content" as 3_center_content %}

    {% load_blocks section="3-center-bottom-a" as 3_center_bottom_a %}
    {% load_blocks section="3-center-bottom-b" as 3_center_bottom_b %}
    {% load_blocks section="3-center-bottom-c" as 3_center_bottom_c %}

    {% load_blocks section="3-right-a" as 3_right_a %}
    {% load_blocks section="3-right-b" as 3_right_b %}

    {% load_blocks section="3-mid-bottom-a" as 3_mid_bottom_a %}
    {% load_blocks section="3-mid-bottom-b" as 3_mid_bottom_b %}
    {% load_blocks section="3-mid-bottom-c" as 3_mid_bottom_c %}

    {% load_blocks section="3-bottom-a" as 3_bottom_a %}
    {% load_blocks section="3-bottom-b" as 3_bottom_b %}
    {% load_blocks section="3-bottom-c" as 3_bottom_c %}

    <!-- Blocks in top position -->
    {% if 3_top_a or 3_top_b or 3_top_c %}
    <div class="col-12">
        {% include "grid/section_3/top.html" %}
    </div>
    {% endif %}

    <!-- Blocks in middle top position -->
    {% if 3_mid_top_a or 3_mid_top_b or 3_mid_top_c %}
    <div class="col-12">
        {% include "grid/section_3/mid-top.html" %}
    </div>
    {% endif %}

    <!-- Blocks in center positions -->
    {% if 3_center_top_a or 3_center_top_b or 3_center_top_c or 3_center_content or 3_center_bottom_a or 3_center_bottom_b or 3_center_bottom_c %}

        <!-- Build left column -->
        {% if 3_left_a and 3_left_b %}
            <div class="{% block 3_left_double_class %}col-12 col-md-4{% endblock 3_left_double_class %}">
                {% include "grid/section_3/left.html" %}
            </div>
        {% elif 3_left_a or 3_left_b %}
            <div class="{% block 3_left_single_class %}col-12 col-md-3{% endblock 3_left_single_class %}">
                {% include "grid/section_3/left.html" %}
            </div>
        {% endif %}

        <!-- Center column take available space -->
        <div class="col">
            {% include "grid/section_3/center.html" %}
        </div>

        <!-- Build right column -->
        {% if 3_right_a and 3_right_b %}
            <div class="{% block 3_right_double_class %}col-12 col-md-4{% endblock 3_right_double_class %}">
                {% include "grid/section_3/right.html" %}
            </div>
        {% elif 3_right_a or 3_right_b %}
            <div class="{% block 3_right_single_class %}col-12 col-md-3{% endblock 3_right_single_class %}">
                {% include "grid/section_3/right.html" %}
            </div>
        {% endif %}

    <!-- No blocks in center positions -->
    {% else %}
        {% if 3_left_a or 3_left_b %}
            <div class="col-12 col-md-6">
                {% include "grid/section_3/left.html" %}
            </div>
        {% endif %}

        {% if 3_right_a or 3_right_b %}
            <div class="col-12 col-md-6">
                {% include "grid/section_3/right.html" %}
            </div>
        {% endif %}

    {% endif %}

    <!-- Blocks in middle bottom position -->
    {% if 3_mid_bottom_a or 3_mid_bottom_b or 3_mid_bottom_c %}
    <div class="col-12">
        {% include "grid/section_3/mid-bottom.html" %}
    </div>
    {% endif %}

    <!-- Blocks in bottom position -->
    {% if 3_bottom_a or 3_bottom_b or 3_bottom_c %}
    <div class="col-12">
        {% include "grid/section_3/bottom.html" %}
    </div>
    {% endif %}

</div>
