{% extends "base_v2.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_context %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}



<!-- Container -->
{% block container %}

    {% block hero %}
    <div id="hero_container">
        <div class="container">
            {% include "unical_portale_hero_presta.html" %}
        </div>
    </div>
    {% endblock hero %}

    {% block center_container %}
    <div id="center_container">
        <div class="container">
            {% block content_title %}
            {% if title %}
            <div class="py-md-5 bd-content clearfix">
                {% include 'title_display.html' %}
                {% block right_button %}
                {% endblock right_button %}
            </div>
            {% endif %}
            {% endblock content_title %}

            {% block under_content_title %}{% endblock under_content_title %}

            <div class="pb-md-2 bd-content clearfix">
        <div class="pull-left">
            <h2 class="section_title">
                <span style="word-break: break-word;">UniCal <span class="featured">Notizie</span></span>
            </h2>
        </div>
        </div>
            <div class="row">
                <div class="col-12 col-lg-9">
                    {% include "unical_portale_home_news_presta.html" %}
                </div>
                <div class="col-12 col-lg-3">
                    {% include "unical_portale_agenda_presta.html" %}
                </div>
            </div>
        </div>
    </div>
    {% endblock center_container %}

    {% block middle_center_container %}
    <div id="middle_center_container">
        <div class="container">
            <ul style="display: inline">
                <li>lorem</li>
                <li>ipsum</li>
                <li>ipsum</li>
                <li>ipsum</li>
            </ul>
        </div>
    </div>
    {% endblock middle_center_container %}

    {% block sub_center_container %}
    <div id="sub_center_container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section_title"><span class="featured">avvisi</span></h2>
                    {% include "unical_portale_home_avvisi_presta.html" %}
                </div>
            </div>
        </div>
    </div>
    {% endblock sub_center_container %}


    <div class="cookiebar">
        <p>{% trans "Questo sito utilizza cookie tecnici, analytics e di terze parti." %}
           <br>
           {% trans "Proseguendo nella navigazione accetti l’utilizzo dei cookie." %}
        </p>
        <div class="cookiebar-buttons">
            <a href="#" class="cookiebar-btn">
                {% trans "Preferenze" %} <span class="sr-only">cookies</span>
            </a>
            <button data-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">
                {% trans "Accetto" %}<span class="sr-only"> i cookies</span>
            </button>
        </div>
    </div>
{% endblock container %}

{% block footer_menu_section %}
{% endblock footer_menu_section %}


{% block extra_scripts %}
<script>
$(function() {

  $(".it-full-carousel").owlCarousel({
      autoplay: true,
      dots: false,
      items : 1,
      loop: true,
      nav: false,
      paginationSpeed : 5000,
      slideSpeed : 2000,
      //itemsDesktop : false,
      //itemsDesktopSmall : false,
      //itemsTablet: false,
      //itemsMobile : false,

  });

});
</script>
{% endblock extra_scripts %}
