{% extends "base_v_original.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}



{% block container %}
<div class="it-hero-wrapper it-dark it-overlay publication-hero">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
        <div class="img-wrapper"><img src="{% static 'images/ponte-bucci-1.jpg' %}" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">
              <span class="it-category">
                {% trans "Tutte" %}
              </span>
              <h1 class="no_toc">{% trans "Le Notizie" %}</h1>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="col-12 py-5 bd-content">       
        {% block centered_container %}
        <div class="row">
            <div class="col-12 col-md-8">
                {% breadcrumbs leaf=handler %}
                
                <div id="news">
                </div>
                
        </div>
        {% endblock centered_container %}

    </div>
</div>

<script>
var news = new Vue({
  el: '#news',
  template: `
    <div v-if="items">
        <h3>[[ head ]]</h3>
        <ul class="ni-vue-news">
            <li v-for="item in items.results" :key="item.id">
             <div>
               [[ item ]]
             </div>
            </li>
        </ul>
        <div>
            <p>Total entries: <b>[[ items.total ]]</b></p>
            <p>Current page: <b>[[ items.page_number ]]</b></p>
            <p>Current entries: <b>[[ items.count ]]</b></p>
            <p>Next: <b>[[ items.next_url ]]</b></p>
            <p>Previous: <b>[[ items.previous_url ]]</b></p>
        </div>
    </div>
    `,
  data () {
    return {
      items: [],
      head: 'Questa è una intestazione'
    }
  },
  beforeMount () {
    axios
      // response must be a JSON content
      // .get('https://api.npms.io/v2/search?q=vue')
      .get('{% url "api-news-by-contexts" webpath_id=webpath.pk %}?lang={{ request.LANGUAGE_CODE }}')
      .then(response => (this.items = response.data))
      .then(this.total = "suka")      
  }
})
</script>
{% endblock container %}


