{% extends "base_v_original.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}


{% block container %}
<div class="it-hero-wrapper it-dark it-overlay publication-hero">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
        <div class="img-wrapper"><img src="{% static 'images/ponte-bucci-1.jpg' %}" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">
              <span class="it-category">
                {% trans "Tutte" %}
              </span>
              <h1 class="no_toc">{% trans "Le Notizie" %}</h1>
          </div>
        </div>
    </div>
  </div>
</div>

{% breadcrumbs leaf=handler %}

<div class="container">
    <div class="col-12 py-2 bd-content">
        {% block centered_container %}
        <div class="row">
            <div class="col-12 col-md-8">

        </div>
        {% endblock centered_container %}
    </div>
</div>

<div class="row" id="news">
</div>


<script>
Vue.component('list-panel', {
  props: {
      data: Array,
    },
  template: `
  <div class="container">
  <div class="row">
    <div class="col">
        <span>{% trans "Page" %}: <b>[[ data.page_number ]] / [[ data.total_pages ]]</span><br>
        <span class="">{% trans "Total News" %}: <b>[[ data.total ]]</b></span>
    </div>
    <div class="col">
    </div>
    <div class="col mb-4">
          <div class="row">

            <div class="col">
                <button class="btn btn-primary btn-icon" @click="news.CallURL( [[ data.previous_url]] )" :disabled="!data.previous_url">
                <svg class="icon icon-md icon-light">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-arrow-left-circle"></use>
                </svg>
                <span>{% trans "Previous" %}</span>
                </button>
            </div>

            <div class="col">
                <button class="btn btn-primary btn-icon" @click="news.CallURL( [[ data.next_url ]] )" :disabled="!data.next_url">
                <svg class="icon icon-light">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-arrow-right-circle"></use>
                </svg>
                <span>{% trans "Next" %}</span>
                </button>

            </div>
    </div>
  </div>
</div>
  `
})


var news = new Vue({
  el: '#news',
  template: `
    <div v-if="newsLoaded == false">
      {% include "loading-jumbo.html" %}
    <div v-else>
        <h2 id="news-head">{% trans "All the News" %}</span></h2>

        <list-panel v-bind:data="items"></list-panel>

        <div class="row" v-if="items">
         <div class="col-12 col-lg-4" v-for="item in items.results" :key="item.id">
            <!--start card-->
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">

                         <div class="img-responsive-wrapper mb-1">
                            <div class="img-responsive img-responsive-panoramic">
                                <figure class="img-wrapper">
                                  <a style="" v-bind:href="item.path">
                                    <img  v-bind:src="item.image" />
                                  </a>
                                </figure>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="etichetta mb-0">
                                <span v-for="cat in item.categories">
                                <a v-bind:href="'?category_name=' + cat" style="color: #176fc1;">
                                    [[ cat ]] &nbsp;&middot&nbsp;
                                </a>
                                </span>
                            </div>
                            <span class="small text-muted mb-2">[[ item.published|formatDate ]]</span>
                            <h4 class="card-title">
                                <a style="text-decoration: none; color: #17324d;" v-bind:href="[[ item.path ]]">
                                    <p>[[ item.title ]]</p>
                                </a>
                            </h4>
                            <p>[[ item.subheading | truncate(128) ]]</p>
                        </div>
                    </div>
                </div>
            <!--end card-->
         </div>
        </div>

        <list-panel v-bind:data="items"></list-panel>

    </div>
    </div>
    `,
  data () {
    return {
      items: [],
      newsLoaded: false,
    }
  },

  mounted () {
    },

  beforeMount () {
    let get_args = `?{% if request.GET.category_name %}category_name={{ request.GET.category_name }}&{% endif %}
page_number={% if request.GET.page_number %}{{ request.GET.page_number }}{% else%}1{% endif %}
&lang={{ request.LANGUAGE_CODE }}`

    axios
      // .get('https://api.npms.io/v2/search?q=vue')
      .get('{% url "api-news-by-contexts" webpath_id=webpath.pk %}'+get_args)
      .then(response => (this.items = response.data))
      .then(response => (this.newsLoaded = true))
  },
  methods: {
    CallURL ( url ) {
        this.newsLoaded = false;

        axios
          .get( url )
          .then(response => (this.items = response.data))
          .then(response => (this.newsLoaded = true))
          .then(response => (this.scrollToTop()))
      },
   scrollToTop () {
        // faulty on mobile ...
        window.scrollTo({top:this.$el.offsetHeight, left:0, behavior: 'smooth'});
        }
    }
})
</script>
{% endblock container %}


