{% extends "base_v_original.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}

{% block container %}
<div class="it-hero-wrapper it-dark it-overlay publication-hero">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
        <div class="img-wrapper"><img src="{% static 'images/ponte-bucci-1.jpg' %}" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">
              <span class="it-category">
                {% trans "Tutte" %}
              </span>
              <h1 class="no_toc">{% trans "Le Notizie" %}</h1>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="col-12 py-2 bd-content">       
        {% block centered_container %}
        <div class="row">
            <div class="col-12 col-md-8">
                {% breadcrumbs leaf=handler %}
        </div>
        {% endblock centered_container %}
    </div>
</div>

<div class="row" id="news">
    <div class="container">
  <div class="row">
    <div class="col">
        <span>{% trans "Page" %}: <b>{page_number} / {total_pages}</span><br>
        <span class="">{% trans "Total News" %}: <b>{total}</b></span>
    </div>
    <div class="col">
    </div>
    <div class="col mb-4">                
          <div class="row">
                
            <div class="col">
                <button class="btn btn-primary btn-icon" v-if="previous_url" @click="news.CallURL( {previous_url} )">
                <svg class="icon icon-md icon-light">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-arrow-left-circle"></use>
                </svg>
                <span>{% trans "Previous page" %}</span>
                </button>
            </div>
            
            <div class="col">
                <button class="btn btn-primary btn-icon" v-if="next_url" @click="news.CallURL( {next_url} )">
                <svg class="icon icon-light">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-arrow-right-circle"></use>
                </svg>
                <span>{% trans "Next page " %}({count})</span>
                </button>
                
            </div>
    </div>
  </div>
</div>
</div>
</div>

<script type="text/python">
import browser
import json
from browser import document, ajax
from browser.template import Template

# browser.console.log(browser.__dict__)
get_args = "?page_number={% if request.GET.page_number %}{{ request.GET.page_number }}{% else%}1{% endif %}&lang={{ request.LANGUAGE_CODE }}"
url = '{% url "api-news-by-contexts" webpath_id=webpath.pk %}' + get_args


def on_complete(f):
   data = json.load(f)
   browser.console.log(data)
   news_el = Template(list_panel).render(**data)
   #news_el = list_panel.format(**data)
   breakpoint()
   #document['news']
      
browser.console.log(f"Connecting to {url} ...")

req = ajax.get(url, mode="binary", oncomplete=on_complete)

list_panel = """
<div class="container">
  <div class="row">
    <div class="col">
        <span>{% trans "Page" %}: <b>{page_number} / {total_pages}</span><br>
        <span class="">{% trans "Total News" %}: <b>{total}</b></span>
    </div>
    <div class="col">
    </div>
    <div class="col mb-4">                
          <div class="row">
                
            <div class="col">
                <button class="btn btn-primary btn-icon" v-if="previous_url" @click="news.CallURL( {previous_url} )">
                <svg class="icon icon-md icon-light">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-arrow-left-circle"></use>
                </svg>
                <span>{% trans "Previous page" %}</span>
                </button>
            </div>
            
            <div class="col">
                <button class="btn btn-primary btn-icon" v-if="next_url" @click="news.CallURL( {next_url} )">
                <svg class="icon icon-light">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-arrow-right-circle"></use>
                </svg>
                <span>{% trans "Next page " %}({count})</span>
                </button>
                
            </div>
    </div>
  </div>
</div>
"""

# Template(list_panel).render(**data)

news_template = """
    <div v-if="newsLoaded == false">
      {% include "loading-jumbo.html" %}
    <div v-else>
        <h2>{% trans "All the News" %}</span></h2>

        <list-panel v-bind:data="items"></list-panel>
        
        <div class="row" v-if="items">
         <div class="col-12 col-lg-4" v-for="item in items.results" :key="item.id">
            <!--start card-->
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">

                         <div class="img-responsive-wrapper mb-3">
                            <div class="img-responsive img-responsive-panoramic">
                                <figure class="img-wrapper">
                                  <a style="" v-bind:href="item.path">
                                    <img  v-bind:src="item.image" />
                                  </a>
                                </figure>
                            </div>
                        </div>

                        <div class="card-body">                            
                            <div class="etichetta">
                                <a href="#" style="color: #176fc1;" v-for="cat in item.categories">
                                    { cat } &nbsp;&middot&nbsp;
                                </a>
                            </div>
                            <h4 class="card-title">
                                <a style="text-decoration: none; color: #17324d;" v-bind:href="{ item.path }">
                                    <p>{ item.title }</p>
                                </a>
                            </h4>
                            <p>{ item.subheading | truncate(128) }</p>
                        </div>
                    </div>
                </div>
            <!--end card-->
         </div>
        </div>
        
        <list-panel v-bind:data="items"></list-panel>
    
    </div>
    </div>
"""
  
# def before_mount():
    # get_args = "?page_number={% if request.GET.page_number %}{{ request.GET.page_number }}{% else%}1{% endif %}&lang={{ request.LANGUAGE_CODE }}"
    
    # axios
      # .get('{% url "api-news-by-contexts" webpath_id=webpath.pk %}'+get_args)
      # .then(response => (this.items = response.data))
      # .then(response => (this.newsLoaded = true))

  # methods: {
    # CallURL ( url ) {
        # this.newsLoaded = false;
        
        # axios
          # .get( url )
          # .then(response => (this.items = response.data))
          # .then(response => (this.newsLoaded = true))
          # .then(response => (this.scrollToTop()))

</script>
{% endblock container %}


