<!-- Extends default Bootstrap Unical Italia template -->
<!--
base-setup.html
bootstrap-italia-base.html
-->
{% extends 'base-setup.html' %}

{% load i18n %}

<!-- From app django-sass-processor -->
{% if debug %}
    {% load sass_tags %}
{% endif %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_context %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}

<!-- Return to Agid native template -->
{% block extra_head %}
{{ block.super }}
<style>
.menu-wrapper {
    z-index: 1 !important;
    }

.owl-carousel {
    z-index: 0;
}

.it-header-navbar-wrapper {
    background: #fff;
}

.owl-nav {
    display: none;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
    color: #000;
}

.it-carousel-wrapper .owl-stage-outer {
    padding-top: 0px;
    padding-bottom: 0;
}
</style>
{% endblock extra_head %}

<!-- Page Title -->
{% block page_title %}
{{ website.name }}
{% endblock page_title %}

<!-- Meta Description (for all pages if not overrided) -->
{% block page_meta_description %}
{{ website.name }}
{% endblock page_meta_description %}

{% block header_slim_top_left %}
<!--
<div style="" class="header-slim-left-zone">
<div class="it-access-top-wrapper">
    <form class="form-inline d-flex justify-content-center md-form form-sm">
        <svg class="icon icon-white"><use xlink:href="{% static '/svg/sprite.svg' %}#it-search"></use></svg>
        <input class="form-control form-control-sm ml-3 w-175 h-2" type="text" placeholder="Search" aria-label="Search">
    </form>
</div>
</div>
-->

<div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
            <span>{% trans "Rubrica telefonica" %}
                <svg class="icon icon-white"><use xlink:href="{% static '/svg/sprite.svg' %}#it-telephone"></use></svg>
            </span>
            <svg class="icon d-none d-lg-block">
                <use xlink:href="{% static '/svg/sprite.svg' %}#it-expand"></use>
            </svg>
        </a>
        <div class="dropdown-menu">
            <div class="row">
                <div class="col-12">
                    <div class="link-list-wrapper">
                        <ul class="link-list">
                            <!-- TODO: caricare Lingua + Flag image per tutte le lingue abilitate a sistema -->
                            <li><a class="list-item" href="?lang=ar"><span>Shortcut 1</span></a></li>

                            <!-- TODO: caricare Lingua + Flag image per tutte le lingue abilitate a sistema -->
                            <li><a class="list-item" href="?lang=en"><span>Shortcut 2</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div style="" class="header-slim-left-zone">
    <p class="text-white">
    </p>
</div>
{% endblock header_slim_top_left %}

<!-- Logo in Header -->
{% block header_center_logo %}
<div class="col-10 col-md-12 offset-1 offset-md-0">
    <image src="{% static 'images/logo1.svg' %}" style="width: 100%;"/>
</div>
{% endblock header_center_logo %}

<!-- URL link top left -->
{% block header_slim_org_url %}
{% endblock header_slim_org_url %}

<!-- URL link logo and org name -->
{% block header_center_url %}
{% endblock header_center_url %}

    {% block header_slim_sub_menu %}
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">

            <span>{{ request.LANGUAGE_CODE }}</span>
            <svg class="icon d-none d-lg-block">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-expand"></use>
            </svg>
        </a>
        <div class="dropdown-menu">
            <div class="row">
                <div class="col-12">
                    <div class="link-list-wrapper">
                        <ul class="link-list">
                            {% supported_languages as languages %}
                            {% for lang,language in languages %}
                            <!-- TODO: caricare Lingua + Flag image per tutte le lingue abilitate a sistema -->
                            <li><a class="list-item" href="?lang={{ lang }}"><span>{{ language }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock header_slim_sub_menu %}

<!-- Mobile slim_org_name -->
{% block header_slim_mobile_org_name %}
{% endblock header_slim_mobile_org_name %}

<!-- Make empty areas -->
{% block header_mobile_arrow %}{% endblock header_mobile_arrow %}
{% block header_mobile_slim_menu %}{% endblock header_mobile_slim_menu %}

{% block header_center_right_zone %}
<div class="it-right-zone">
<div class="it-socials d-none d-md-flex">
  <span>{% trans "Seguici su" %}</span>
  <ul>
    <li>
      <a href="#" aria-label="Facebook" target="_blank">
        <svg class="icon">
          <use xlink:href="{% static '/svg/sprite.svg' %}#it-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Github" target="_blank">
        <svg class="icon">
          <use xlink:href="{% static '/svg/sprite.svg' %}#it-github"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Twitter" target="_blank">
        <svg class="icon">
          <use xlink:href="{% static '/svg/sprite.svg' %}#it-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<div class="it-search-wrapper">
  <span class="d-none d-md-block">{% trans "Search" %}</span>
  <a class="search-link rounded-icon" aria-label="Cerca" href="#">
    <svg class="icon">
      <use xlink:href="{% static '/svg/sprite.svg' %}#it-search"></use>
    </svg>
  </a>
</div>
</div>
{% endblock header_center_right_zone %}

<!-- Main Menu -->
{% block main_menu %}
<div class="it-header-navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg has-megamenu">
                    <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav10">
                        <svg class="icon">
                            <use xlink:href="{% static 'svg/sprite.svg' %}#it-burger"></use>
                        </svg>
                    </button>
                    <div class="navbar-collapsable" id="nav10">
                        <div class="overlay"></div>
                        <div class="close-div sr-only">
                            <button class="btn close-menu" type="button"><span class="it-close"></span>{% trans "close" %}</button>
                        </div>
                        <div class="menu-wrapper">
                            <ul class="navbar-nav">
                                {% block menu_main %}
                                    <!-- LOAD menu Blocks -->
                                    {% load_menu section='menu-1' template="main_menu.html" %}
                                {% endblock menu_main %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock main_menu %}

{% block header_center_search %}{% endblock header_center_search %}

<!-- Container -->
{% block container %}

{% block carousel %}
{% load_carousel section='slider' template="unical_portale_hero.html" %}
{% endblock carousel %}

<!-- menu secondario diretto -->
{% block middle-section %}
{% load_menu section='menu-2' template="unical_portale_menu_secondario.html" %}
{% endblock middle-section %}

<div class="row pt-2 mt-2" style="background-color: #eeeeee;">
    <div class="container">

    <div class="row">
        <div class="col-12 col-lg-9">

            {% load_publications_preview template="publications_preview.html" %}

        </div>
        <div class="col-12 col-lg-3">
            {% include "unical_portale_agenda.html" %}
        </div>
    </div>
</div>
</div>

    <div class="container">
    <div class="row">
        <div class="col-12 col-lg-3">
            <button type="button" class="btn btn-primary btn-block btn-lg mb-2">AVVISI</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg mb-2">In evidenza</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg mb-2">Ricerca</button>
            <button type="button" class="btn btn-secondary btn-block btn-lg mb-2">Didattica</button>
        </div>
        <div class="col-12 col-lg-9">
<!--
            <h3 class="mb-5 mt-4">{% trans "avvisi" %}</h3>
-->
            {% include "unical_portale_home_avvisi.html" %}
        </div>
    </div>


    <div class="row">
        {% block content_rows %}
        <main class="col mb-5">
        {% block container_inner %}{% endblock container_inner %}
        </main>
        {% endblock content_rows %}
    </div>
    
    <a href="#" aria-hidden="true"
       data-attribute="back-to-top"
       class="back-to-top back-to-top-small">
        <svg class="icon icon-light">
          <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-up"></use>
        </svg>
    </a>

    </div>

</div>

{% block cookiebar %}
<div class="cookiebar">
    <p>{% trans "Questo sito utilizza cookie tecnici, analytics e di terze parti." %}
       <br>
       {% trans "Proseguendo nella navigazione accetti l’utilizzo dei cookie." %}
    </p>
    <div class="cookiebar-buttons">
        <a href="#" class="cookiebar-btn">
            {% trans "Preferenze" %} <span class="sr-only">cookies</span>
        </a>
        <button data-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">
            {% trans "Accetto" %}<span class="sr-only"> i cookies</span>
        </button>
    </div>
</div>
{% endblock cookiebar %}

{% endblock container %}

{% block footer_menu_section %}
{% endblock footer_menu_section %}


{% block extra_scripts %}
<script>
$(function() {
  $(".it-full-carousel").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,

      items : 1,
      //itemsDesktop : false,
      //itemsDesktopSmall : false,
      itemsTablet: true,
      itemsMobile : true,
  });
});
</script>
{% endblock extra_scripts %}
