{% load static %}

<!-- load custom template tags -->
{% load unicms_pages %}


<div class="row">

    {% load_blocks section="2-top-a" as 2_top_a %}
    {% load_blocks section="2-top-b" as 2_top_b %}
    {% load_blocks section="2-top-c" as 2_top_c %}

    {% load_blocks section="2-mid-top-a" as 2_mid_top_a %}
    {% load_blocks section="2-mid-top-b" as 2_mid_top_b %}
    {% load_blocks section="2-mid-top-c" as 2_mid_top_c %}

    {% load_blocks section="2-left-a" as 2_left_a %}
    {% load_blocks section="2-left-b" as 2_left_b %}

    {% load_blocks section="2-center-top-a" as 2_center_top_a %}
    {% load_blocks section="2-center-top-b" as 2_center_top_b %}
    {% load_blocks section="2-center-top-c" as 2_center_top_c %}

    {% load_blocks section="2-center-content" as 2_center_content %}

    {% load_blocks section="2-center-bottom-a" as 2_center_bottom_a %}
    {% load_blocks section="2-center-bottom-b" as 2_center_bottom_b %}
    {% load_blocks section="2-center-bottom-c" as 2_center_bottom_c %}

    {% load_blocks section="2-right-a" as 2_right_a %}
    {% load_blocks section="2-right-b" as 2_right_b %}

    {% load_blocks section="2-mid-bottom-a" as 2_mid_bottom_a %}
    {% load_blocks section="2-mid-bottom-b" as 2_mid_bottom_b %}
    {% load_blocks section="2-mid-bottom-c" as 2_mid_bottom_c %}

    {% load_blocks section="2-bottom-a" as 2_bottom_a %}
    {% load_blocks section="2-bottom-b" as 2_bottom_b %}
    {% load_blocks section="2-bottom-c" as 2_bottom_c %}

    <!-- Blocks in top position -->
    {% if 2_top_a or 2_top_b or 2_top_c %}
    <div class="col-12">
        {% include "grid/section_2/top.html" %}
    </div>
    {% endif %}

    <!-- Blocks in middle top position -->
    {% if 2_mid_top_a or 2_mid_top_b or 2_mid_top_c %}
    <div class="col-12">
        {% include "grid/section_2/mid-top.html" %}
    </div>
    {% endif %}

    <!-- Blocks in center positions -->
    {% if 2_center_top_a or 2_center_top_b or 2_center_top_c or 2_center_content or 2_center_bottom_a or 2_center_bottom_b or 2_center_bottom_c %}

        <!-- Build left column -->
        {% if 2_left_a and 2_left_b %}
            <div class="{% block 2_left_double_class %}col-12 col-md-4{% endblock 2_left_double_class %}">
                {% include "grid/section_2/left.html" %}
            </div>
        {% elif 2_left_a or 2_left_b %}
            <div class="{% block 2_left_single_class %}col-12 col-md-3{% endblock 2_left_single_class %}">
                {% include "grid/section_2/left.html" %}
            </div>
        {% endif %}

        <!-- Center column take available space -->
        <div class="col">
            {% include "grid/section_2/center.html" %}
        </div>

        <!-- Build right column -->
        {% if 2_right_a and 2_right_b %}
            <div class="{% block 2_right_double_class %}col-12 col-md-4{% endblock 2_right_double_class %}">
                {% include "grid/section_2/right.html" %}
            </div>
        {% elif 2_right_a or 2_right_b %}
            <div class="{% block 2_right_single_class %}col-12 col-md-3{% endblock 2_right_single_class %}">
                {% include "grid/section_2/right.html" %}
            </div>
        {% endif %}

    <!-- No blocks in center positions -->
    {% else %}
        {% if 2_left_a or 2_left_b %}
            <div class="col-12 col-md-6">
                {% include "grid/section_2/left.html" %}
            </div>
        {% endif %}

        {% if 2_right_a or 2_right_b %}
            <div class="col-12 col-md-6">
                {% include "grid/section_2/right.html" %}
            </div>
        {% endif %}

    {% endif %}

    <!-- Blocks in middle bottom position -->
    {% if 2_mid_bottom_a or 2_mid_bottom_b or 2_mid_bottom_c %}
    <div class="col-12">
        {% include "grid/section_2/mid-bottom.html" %}
    </div>
    {% endif %}

    <!-- Blocks in bottom position -->
    {% if 2_bottom_a or 2_bottom_b or 2_bottom_c %}
    <div class="col-12">
        {% include "grid/section_2/bottom.html" %}
    </div>
    {% endif %}

</div>
