{% load static %}

<!-- load custom template tags -->
{% load unicms_pages %}


{% load_blocks section="2-top-a" as 2_top_a %}
{% load_blocks section="2-top-b" as 2_top_b %}
{% load_blocks section="2-top-c" as 2_top_c %}

{% if 2_top_a or 2_top_b or 2_top_c %}
<div class="row">
    {% if 2_top_a and 2_top_b and 2_top_c %}
        <div class="col-12 col-md-4">{{ 2_top_a }}</div>
        <div class="col-12 col-md-4">{{ 2_top_b }}</div>
        <div class="col-12 col-md-4">{{ 2_top_c }}</div>
    {% elif 2_top_a and 2_top_b %}
        <div class="col-12 col-md-6">{{ 2_top_a }}</div>
        <div class="col-12 col-md-6">{{ 2_top_b }}</div>
    {% elif 2_top_a and 2_top_c %}
        <div class="col-12 col-md-6">{{ 2_top_a }}</div>
        <div class="col-12 col-md-6">{{ 2_top_c }}</div>
    {% elif 2_top_b and 2_top_c %}
        <div class="col-12 col-md-6">{{ 2_top_b }}</div>
        <div class="col-12 col-md-6">{{ 2_top_c }}</div>
    {% else %}
        <div class="col-12">{{ 2_top_a }}{{ 2_top_b }}{{ 2_top_c }}</div>
    {% endif %}
</div>
{% endif %}
