{% load i18n %}
{% load static %}

{% comment %}
<div class="pt-4 pb-1 d-flex justify-content-center"  style="background: #fff;">
<figure class="overlay-wrapper">
    <img src="https://picsum.photos/240/160?image=1056" alt="Immagine">
    <figcaption class="overlay-panel overlay-icon">
        <h2>Agendaw</h2>
    </figcaption>
</figure>
</div>
{% endcomment %}

<div class="row">
    <div class="col-12">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <h4 class="card-title">
                        <a style="text-decoration: none; color: #17324d;" href="/content/posts/studiare-online-e-sempre-piu-semplice">
                            Agenda
                        </a>
                    </h4>

                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <a href="#">
                        <svg class="icon">
                            <use xlink:href="/static/svg/sprite.svg#it-share"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <h4 class="card-title">
                        <a style="text-decoration: none; color: #17324d;" href="/content/posts/studiare-online-e-sempre-piu-semplice">
                            Social
                        </a>
                    </h4>

                    <p class="card-text">
                       didunt ut labore et dolore magna aliqua.
                    </p>

                    <a href="#">
                        <svg class="icon">
                            <use xlink:href="/static/svg/sprite.svg#it-share"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



