{% load i18n %}
{% load static %}


<div class="row">
  <div class="col-12">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card  no-after">
        <div class="card-body" style="background: #e0a4c5">
          <h3 class="card-title">Agenda</h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur...</p>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <div class="col-12">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card  no-after">
        <div class="card-body">
          <h3 class="card-title">
                <span style="word-break: break-word;"><span class="unfeatured">UniCal</span> <span class="featured">network</span></span>
            </h3>
          <p class="card-text">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit...
          Lorem ipsum dolor sit amet,
          consectetur...</p>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>
