{% extends "base_v3.html" %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}


{% block container %}

    {% load_blocks section=slider %}

    <!-- menu secondario diretto -->
    {% block middle-section %}
    {% load_menu section='menu-2' template="unical_portale_menu_secondario.html" %}
    {% endblock middle-section %}

    {% load_blocks section=1 %}

    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-3">
                <button type="button" class="btn btn-primary btn-block btn-lg mb-2">AVVISI</button>
                <button type="button" class="btn btn-secondary btn-block btn-lg mb-2">In evidenza</button>
                <button type="button" class="btn btn-secondary btn-block btn-lg mb-2">Ricerca</button>
                <button type="button" class="btn btn-secondary btn-block btn-lg mb-2">Didattica</button>
            </div>
            <div class="col-12 col-lg-9">
                {% include "unical_portale_home_avvisi_v3.html" %}
            </div>
        </div>

        <a href="#" aria-hidden="true"
           data-attribute="back-to-top"
           class="back-to-top back-to-top-small">
            <svg class="icon icon-light">
              <use xlink:href="{% static 'svg/sprite.svg' %}#it-arrow-up"></use>
            </svg>
        </a>

    </div>

    <div class="cookiebar">
        <p>{% trans "Questo sito utilizza cookie tecnici, analytics e di terze parti." %}
           <br>
           {% trans "Proseguendo nella navigazione accetti l’utilizzo dei cookie." %}
        </p>
        <div class="cookiebar-buttons">
            <a href="#" class="cookiebar-btn">
                {% trans "Preferenze" %} <span class="sr-only">cookies</span>
            </a>
            <button data-accept="cookiebar" class="cookiebar-btn cookiebar-confirm">
                {% trans "Accetto" %}<span class="sr-only"> i cookies</span>
            </button>
        </div>
    </div>
{% endblock container %}

{% block extra_scripts %}
<script>
$(function() {
  $(".it-full-carousel").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,

      items : 1,
      //itemsDesktop : false,
      //itemsDesktopSmall : false,
      itemsTablet: true,
      itemsMobile : true,
  });
});
</script>
{% endblock extra_scripts %}
