<!-- Extends default Bootstrap Unical Italia template -->
<!--
base-setup.html
bootstrap-italia-base.html
-->
{% extends 'base-setup.html' %}

{% load i18n %}

<!-- From app django-sass-processor -->
{% if debug %}
    {% load sass_tags %}
{% endif %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_blocks %}


<!-- Return to Agid native template -->
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% sass_src 'css/unical-portale-v2.scss' %}" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>Vue.options.delimiters = ['[[', ']]'];</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock extra_head %}

<!-- Page Title -->
{% block page_title %}
{% trans "Università della Calabria" %}
{% endblock page_title %}

<!-- Meta Description (for all pages if not overrided) -->
{% block page_meta_description %}
{% trans "Sito istituzionale dell'Università della Calabria" %}
{% endblock page_meta_description %}

{% block header_slim_org_name %}
<form>
    <label>Cerca</label>
    <input name="Cerca" type="text">
</form>
{% endblock header_slim_org_name %}

<!-- URL link top left -->
{% block header_slim_org_url %}
{% endblock header_slim_org_url %}

<!-- URL link logo and org name -->
{% block header_center_url %}
{% endblock header_center_url %}

{% block header_center_logo %}
<div class="col-10 col-md-12 offset-1 offset-md-0">
    <image src="{% static 'images/logo_presta.svg' %}" style="width: 100%;"/>
</div>
{% endblock header_center_logo %}

{% block header_slim_sub_menu %}
{% endblock header_slim_sub_menu %}

<!-- Mobile slim_org_name -->
{% block header_slim_mobile_org_name %}
{% endblock header_slim_mobile_org_name %}

<!-- Make empty areas -->
{% block header_mobile_arrow %}{% endblock header_mobile_arrow %}
{% block header_mobile_slim_menu %}{% endblock header_mobile_slim_menu %}

{% block header_center_search %}{% endblock header_center_search %}

{% block footer_menu_section %}
{% endblock footer_menu_section %}
