{% load i18n %}
{% load static %}

<style>

    .dropdown-menu {
            min-width: 20rem !important;
            padding: 16px 2px !important;
        }

</style>

{% for item in menu %}
    <li class="nav-item
               {% if forloop.first %}active{% endif %}
               {% if item.have_childs %}dropdown{% endif %}
               {% if item.have_childs > 9 %}megamenu{% endif %}
               {% if not forloop.counter0 %}pl-lg-2{% endif %}">
        <a class="nav-link
                 {% if item.have_childs %}dropdown_toggle{% endif %}"
                 href={% if subitem.link %}"{{ subitem.get_link}}"{% else %}"#"{% endif %}
                 {% if item.have_childs %} data-toggle="dropdown" aria-expanded="false"{% endif %}>
            <span>{{ item.name }}</span>
            {% if item.get_childs %}<svg class="icon icon-xs">
                <use xlink:href="{% static 'svg/sprite.svg' %}#it-expand"></use>
            </svg>{% endif %}
        </a>
        {% if item.get_childs %}
        <div class="dropdown-menu">

            {% if item.have_childs > 9 %}
            <!-- head-->
            <div class="col-12">
              <h3 style="margin: .5em 18px;" class="it-heading-megacolumn no_toc">{{ item.name }}</h3>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-md-auto {% if item.have_childs > 7 %} col-lg-4 {% endif %}">
                    <div class="link-list-wrapper">
                        <ul class="link-list">
                        {% for subitem in item.get_childs %}

                        {% if not subitem.link %}
                            {% if not forloop.first %}
                                    </ul>
                                </div> <!-- link-list-wrapper -->
                            </div> <!-- link-list -->

                            <div class="col-md-auto {% if item.have_childs > 7 %} col-lg-3 {% endif %}">
                            <div class="link-list-wrapper">
                                <ul class="link-list">
                        {% endif %}
                            <li>
                                <h3 class="no_toc" id="heading">{{ subitem.name }}</h3>
                            </li>

                            {% else %}

                            <li>
                                <a class="list-item" href={% if subitem.link %}"{{ subitem.get_link}}"{% else %}"#"{% endif %}>
                                    <span class="text-dark">{{ subitem.name }}</span>
                                </a>
                            </li>
                            {% endif %}

                        {% endfor %}
                        </ul>
                    </div>
        </div>
        {% endif %}
    </li>
{% endfor %}
